@charset "UTF-8";

body
{
	background-color: white;
	font-family: 'Roboto',sans-serif;
}
a
{
	margin-right:30px;
    padding-top: 15px;
    color:#3498db;
    font-weight: bold;
    border-radius: 5px;
}
